@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Tajawal&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap"); */

@media print {
  @page {
    size: landscape;
  }
}

html {
  font-family: "Montserrat", sans-serif, "Tajawal", sans-serif;
  /* _font-family: "Cairo", sans-serif !important;
  _font-family: "Handlee", cursive, "Tajawal", sans-serif;
  _font-family: "Raleway", sans-serif, "Tajawal", sans-serif; */
  /* background-color: #ffffff; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @apply select-none outline-none;
}

[dir="rtl"] div {
  font-family: "Tajawal", sans-serif, "Montserrat", sans-serif !important;
}

[dir="ltr"] div {
  font-family: "Montserrat", sans-serif, "Tajawal", sans-serif !important;
}

/* Scrollbar style */
html.dark-mode::-webkit-scrollbar {
  background: rgba(53, 53, 53, 1);
  height: 20px;
  width: 12px;
}
html.dark-mode::-webkit-scrollbar-track {
  background: rgba(53, 53, 53, 1);
  padding: 4px !important;
}
html.dark-mode::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px !important;
}
html.dark-mode::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

html.light-mode::-webkit-scrollbar {
  background: rgb(216, 216, 216);
  height: 20px;
  width: 12px;
}
html.light-mode::-webkit-scrollbar-track {
  background-color: rgb(240, 240, 240);
  padding: 4px;
}
html.light-mode::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 0px;
}
html.light-mode::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.3);
}

/* Gallery */
#silentbox-gallery {
  @apply grid gap-8 mb-8 lg:grid-cols-3;
}

.silentbox-item {
  @apply w-full h-56 mb-6 py-5 rounded shadow-lg md:h-64 xl:h-80;
}

.silentbox-item img {
  @apply object-cover mx-auto max-w-full max-h-full rounded duration-300 transform rotate-6 hover:rotate-12;
}

/* Patterns */
.pattern-bg-typo {
  background-image: url("~/assets/images/patterns/topography.svg");
}

.pattern-bg-food {
  background-image: url("~/assets/images/patterns/food.svg");
}

.pattern-gd {
  background-image: url("~/assets/images/patterns/gd-pattern.png");
}
